<ul>

  <li class="article-card" style="margin-bottom: 10px;">
    <a class="article-card-link" href="https://www.goodreads.com/book/show/30804383-the-hardware-hacker">
      <span style="color: #fda50f; font-size: 20px; ">The Hardware Hacker: Adventures in Making and Breaking Hardware</span>
    </a>
  </li>

  <li class="article-card" style="margin-bottom: 10px;">
    <a class="article-card-link" href="https://books.google.ca/books/about/Data_Driven_Science_and_Engineering.html?id=CYaEDwAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false">
      <span style="color: #fda50f; font-size: 20px; ">Data-Driven Science and Engineering: Machine Learning, Dynamical Systems, and Control</span>
    </a>
  </li>

  <li class="article-card" style="margin-bottom: 10px;">
    <a class="article-card-link" href="https://www.amazon.ca/Deep-Learning-Ian-Goodfellow/dp/0262035618">
      <span style="color: #fda50f; font-size: 20px; ">Deep Learning</span>
    </a>
  </li>


  <li class="article-card" style="margin-bottom: 10px;">
    <a class="article-card-link" href="https://www.amazon.ca/Dhandho-Investor-Value-Method-Returns/dp/047004389X">
      <span style="color: #fda50f; font-size: 20px; ">The Dhandho Investor: The Low-Risk Value Method to High Returns</span>
    </a>
  </li>

</ul>
