<ul>

  <li>
    <a href="https://www.goodreads.com/book/show/30804383-the-hardware-hacker">The Hardware Hacker: Adventures in Making and Breaking Hardware</a>
  </li>

  <li>
    <a href="https://books.google.ca/books/about/Data_Driven_Science_and_Engineering.html?id=CYaEDwAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false">Data-Driven Science and Engineering: Machine Learning, Dynamical Systems, and Control</a>
  </li>

  <li>
    <a href="https://www.amazon.ca/Deep-Learning-Ian-Goodfellow/dp/0262035618">Deep Learning</a>
  </li>

</ul>
