<ul>

    <li class="article-card" style="margin-bottom: 10px;">
      <a class="article-card-link" href="https://neptune.ai/blog/data-exploration-for-image-segmentation-and-object-detection">
        <span style="color: #fda50f; font-size: 20px; ">How to Do Data Exploration for Image Segmentation and Object Detection (Things I Had to Learn the Hard Way)</span>
      </a>
    </li>
  
    <li class="article-card" style="margin-bottom: 10px;">
      <a class="article-card-link" href="https://functionalcs.github.io/curriculum/">
        <span style="color: #fda50f; font-size: 20px; ">A Self-Learning, Modern Computer Science Curriculum</span>
      </a>
    </li>
  
    <li class="article-card" style="margin-bottom: 10px;">
      <a class="article-card-link" href="https://towardsdatascience.com/full-stack-deep-learning-steps-and-tools-a21eda6227b1">
        <span style="color: #fda50f; font-size: 20px; ">Full Stack Deep Learning Steps and Tools</span>
      </a>
    </li>
  
    <li class="article-card" style="margin-bottom: 10px;">
        <a class="article-card-link" href="https://lelon.io/blog/pytorch-baby-steps">
          <span style="color: #fda50f; font-size: 20px; ">Blog: PyTorch Baby Steps</span>
        </a>
    </li>
  
    <li class="article-card" style="margin-bottom: 10px;">
        <a class="article-card-link" href="https://sourcemaking.com/design_patterns">
          <span style="color: #fda50f; font-size: 20px; ">Design Patterns</span>
        </a>
    </li>

    <li class="article-card" style="margin-bottom: 10px;">
        <a class="article-card-link" href="https://2d3d.ai/">
          <span style="color: #fda50f; font-size: 20px; ">Blog: 2D3DAI</span>
        </a>
    </li>

    <li class="article-card" style="margin-bottom: 10px;">
        <a class="article-card-link" href="https://explained.ai/">
          <span style="color: #fda50f; font-size: 20px; ">Blog: Explained.AI</span>
        </a>
    </li>
    <li class="article-card" style="margin-bottom: 10px;">
        <a class="article-card-link" href="https://www.youtube.com/watch?v=bFSnXNIsK4A">
          <span style="color: #fda50f; font-size: 20px; ">105 STL Algorithms in Less Than an Hour</span>
        </a>
    </li>
  
    <li class="article-card" style="margin-bottom: 10px;">
        <a class="article-card-link" href="https://medium.com/heuristics/c-application-development-part-1-project-structure-454b00f9eddc
        ">
          <span style="color: #fda50f; font-size: 20px; ">C++ Application Development Project Structure</span>
        </a>
    </li>

    <li class="article-card" style="margin-bottom: 10px;">
        <a class="article-card-link" href="https://www.youtube.com/watch?v=yVEVcotYJ1w&list=PLcXdwRQiNMIoNwPN7zMhZ3pcpC8Bnpuqw">
          <span style="color: #fda50f; font-size: 20px; ">ROS Playlist With Simulink</span>
        </a>
    </li>

    <li class="article-card" style="margin-bottom: 10px;">
        <a class="article-card-link" href="https://chrisalbon.com/">
          <span style="color: #fda50f; font-size: 20px; ">Useful Pandas Commands</span>
        </a>
    </li>

    <li class="article-card" style="margin-bottom: 10px;">
        <a class="article-card-link" href="https://matthew-brett.github.io/teaching/">
          <span style="color: #fda50f; font-size: 20px; ">Blog: Tutorials on imaging, computing and mathematics</span> 
        </a>
    </li>

    

</ul>